<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Parabellum</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/usuarios}">Usuarios</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/movie-form}">Peliculas</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${pelicula}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/admin/movie-form}" th:object="${pelicula}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Duracion</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{duracion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Estreno</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{estreno}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('estreno')}" th:errors="*{estreno}"></small>
				</div>
			</div>
			 
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Genero</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{genero}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Formato</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{formato}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('formato')}" th:errors="*{formato}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Idioma</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{idioma}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('idioma')}" th:errors="*{idioma}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Estado</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{estado}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Enviar" class="btn btn-primary" />
				</div>
			</div>
			<!-- <input type="hidden" th:field="*{idUsuario}" /> -->
			

		</form>
	</div>



</body>
</html>